.e-menu-wrapper {
  width: 100%;
  border-radius: 0px !important;
}

.toolbar-menu-control .e-toolbar-items .e-toolbar-item .e-tbar-btn .e-btn-icon.e-shopping-cart {
  font-size: 20px;
  width: 100%;
}
.e-toolbar-items {
  width: 100%;
}
.toolbar-menu-control .e-shopping-cart::before {
  content: "\e7e8";
}

.toolbar-menu-control .e-menu-wrapper .e-menu {
  border: none;
}

.toolbar-menu-control {
  max-width: 100%;
}
.e-menu-parent .e-ul {
  width: 20%;
}
.toolbar-menu-control .e-toolbar .e-toolbar-left .e-toolbar-item.e-template {
  padding: 0;
}

.toolbar-menu-control .e-toolbar {
  overflow: visible !important;
}

.toolbar-menu-control .e-hscroll .e-hscroll-content {
  position: static;
}

@media only screen and (max-width: 1300px) {
  .toolbar-menu-control {
    width: auto;
  }
}
.e-menu-wrapper ul.e-menu:not(.e-vertical) {
  float: left;
}

.e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator) {
  width: 100%;
  padding: 0 !important;
}

.e-toolbar .e-toolbar-items:first-child > .e-toolbar-item:last-child,
.e-toolbar .e-toolbar-items:first-child > .e-toolbar-right .e-toolbar-item:last-child {
  margin: 0 !important;
}
.e-treeview .e-ul {
  padding: 0 !important;
  text-align: right;
  overflow: hidden;
  li {
    ul {
      background-color: #fff;
      li {
      }
    }
  }
}
.e-alert-dialog {
  max-height: 100% !important;
}
.sk_modal_btn_top {
  display: flex;
  justify-content: center;
   button.e-button{
background-color: #9bb9e0;
margin:8px;
&:hover{
  background-color: sandybrown;
}
  }

  .e-plus:before {
    content: "\e963";
    color: #000;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
  }
  .e-minus:before {
    content: "\e934";
    color: #000;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
  }
}

.e-btn.e-link,
.e-css.e-btn.e-link {
  border-radius: 8px !important;
  &:hover {
    text-decoration: none;
  }
}
.sk_modal_content {
  .sk_modal_content_title {
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    // background-color: red;
    background-image: linear-gradient(#fff, rgb(227, 227, 227));
    margin: 12px 0;
  }
  button.sk_period_item {
    width: 100%;
    padding: 12px 0;
    &:hover {
      background-color: yellowgreen;
    }
    &:focus {
      background-color: rgb(21, 24, 17) !important;
      color:#fff;
      
    }
    &:nth-child(even) {
      background-color: lightgray;
    }
    &:nth-child(odd) {
      background-color: #fff;
    }
  }
}
.e-dialog {
  direction: "rtl" !important;
  .e-dlg-header-content {
    display: flex;
    justify-content: space-between;
    .e-dlg-header {
      width: auto !important;
    }
  }
}
// .e-popup.e-popup-open.e-dialog{
//   direction: 'rtl';
// }
.sk_modal_footer_button{
  display: flex;
  justify-content: center;
  button{
    margin:50px 8px 0;
  }
}