@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-treegrid/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
// @import "../node_modules/@syncfusion/ej2/base/bootstrap4.css";
// @import "../node_modules/ej2/button/material.scss";
// @import url(/assets/font/yekan-master/stylesheet.css);
// @font-face {
//     font-family: 'yekan';
//     src: url('/assets/font/yekan/Yekan.woff') format('woff2'), 
//     url('/assets/font//yekan/Yekan.woff') format('woff'), 
//     url('/assets/font/yekan/Yekan.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'number';
//     src: url('/assets/font/IRANSans/IRANSansFaNum/IRANSansWeb\(FaNum\).woff2') format('woff2');
// }
@import url(/assets/font/yekan-master/stylesheet.css); 

 @font-face {
  font-family: 'yekan';
  src: url("./assets/YekanNew/fonts/eot/iranyekanwebbold.eot") format("eot");
  src: url("./assets/YekanNew/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"),
   url("./assets/YekanNew/fonts/woff/iranyekanwebbold.woff") format("woff"),
   url("./assets/YekanNew/fonts/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("./assets/YekanNew/fonts/ttf/iranyekanwebbold.ttf") format("truetype"),
    url("./assets/YekanNew/fonts/svg/iranyekanwebbold.svg#Yekan") format('svg');
    font-weight: normal;
    font-style: normal; 
}
* {
    margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
    vertical-align: baseline;
    font-family: 'yekan';
  }
body{
  height: 100%;
}

a,
a:hover {
    text-decoration: none !important;
    outline: none;
}

a:visited {
    text-decoration: none;
    border: none;
}


ul {
    list-style-type: none;
}

.btn,
.btn:focus,
.btn:active {
    box-shadow: none;
}
.form-group{
    height: 45px;
}


#mf-nav,
#mf-header,
#mf-magazine,
#mf-coach,
#mf-footer,
#mf-clubDetail,
#mf-contact-us,
#mf-clubs,
#mf-coaches,
.js-example-basic-single,
#mf-coach-detail,
#mf-coach-carusel,
#mf-loginUser,
#mf-clubCoach {
    direction: rtl !important;
}
.tether-target .tether-element-attached-bottom .tether-element-attached-center .tether-target-attached-top .tether-target-attached-center .tether-enabled{
    font-family: 'yekan';
  }
.mf-gallery {
    direction: ltr !important;
}

p {
    font: 100;
}

.hand {
    cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.ui.custom.sidebar {
    width: 315px !important;
    margin-left: -315px !important;
  }
  
  .ui.active.custom.sidebar {
    margin-left: 0px !important;
  }
  
  .ui.active.right.custom.sidebar {
    margin-left: -315px !important;
  }